main {
  max-width: 1086px;
  margin: auto;
  padding: 0 15px;
}

body {
  background: #080106;
  overflow-x: hidden;

  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

.pixelated-font {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes cardShadowChange {
  0% {
    box-shadow: 0 0 10px 5px rgba(0, 255, 231, 0.5);
  }
  50% {
    box-shadow: 0 0 10px 7px rgba(0, 255, 231, 0.6);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(0, 255, 231, 0.5);
  }
}

@keyframes cardFusionShadowChange {
  0% {
    box-shadow: 0 0 10px 5px rgba(162, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 10px 4px rgba(43, 0, 44, 0.6);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(162, 0, 255, 0.5);
  }
}

@keyframes saturationAnimation {
  0% {
    filter: saturate(0.5);
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    filter: saturate(0.9);
    transform: scale(1.02);
    transform-origin: center;
  }
  100% {
    filter: saturate(0.5);
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes saturationAnimation2 {
  0% {
    filter: saturate(0.5) sepia(1px);
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    filter: saturate(0.2) sepia(1px);
    transform: scale(1.02);
    transform-origin: center;
  }
  100% {
    filter: saturate(0.5) sepia(1px);
    transform: scale(1);
    transform-origin: center;
  }
}
